
	<!-- navigation -->
	<nav class="pages-nav">
    <div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-about">About</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-products">Products</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-gallery">Gallery</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-contact">contact-us</a></div>
	</nav>
	<!-- /navigation-->
	<!-- pages stack -->
	<div class="pages-stack">
		<!-- page -->
		<div class="page" id="page-home">
      <app-banner></app-banner>
		</div>
		<!-- /page -->
		<div class="page" id="page-about">
       <app-about></app-about>
		</div>
		<div class="page" id="page-products">
       <app-products></app-products>
		</div>
		<div class="page" id="page-gallery">
       <app-gallery></app-gallery>
		</div>
		<div class="page" id="page-contact">
       <app-contact></app-contact>
		</div>
	</div>
	<!-- /pages-stack -->
	<button class="menu-button"><span>Menu</span></button>

