<div class="site-outer">
	<!-- <nav class="navbar navbar-fixed-top">
		<section class="container-fluid">
			<div class="row">
				<div class="container-menu">
					<nav class="menu" id="hb">
						<div></div>
						<div></div>
						<div></div>
					</nav>
					<div class="logotype">
						<div class="big">Ki</div>
					</div>
					<div class="checkout">
						<h3><a href="#"><i class="fa fa-shopping-cart red"></i>  To Checkout <span class="badge badge-red">0</span></a></h3>
					</div>
				</div>
			</div>
		</section>
	</nav> -->
	<div class="site-inner">
		<section class="container-fluid">
			<!-- ACCORDION ROW -->
			<div class="row">
					<ul class="accordion-group" id="accordion">
						<li style="background-image: url('../../assets/images/jj1.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Rustic</h3>
							<section class="hidden-xs">
								<article>
									<p>Rual and rustic</p>
								</article>
							</section>
						</li>
						<li class="out" style="background-image: url('../../assets/images/jj19.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Clean</h3>
							<section class="hidden-xs">
								<article>
									<p>For the single or couple
									</p>
								</article>
							</section>
						</li>
						<li style="background-image: url('../../assets/images/jj14.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Stylish</h3>
							<section class="hidden-xs">
								<article>
									<p>When people want it cosy but stylish</p>
								</article>
							</section>
						</li>
						<li style="background-image: url('../../assets/images/jj21.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Family</h3>
							<section class="hidden-xs">
								<article>
									<p>For the family dinner</p>
								</article>
							</section>
			            </li>
					</ul>
			</div>
			
			<!-- BEGIN NEW ROW AFTER ACCORDION -->

		</section>
	</div>
	<div class="site-inner">
		<section class="container-fluid">
			<!-- ACCORDION ROW -->
			<div class="row">
					<ul class="accordion-group" id="accordion1">
						<li style="background-image: url('../../assets/images/jj1.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Rustic</h3>
							<section class="hidden-xs">
								<article>
									<p>Rual and rustic</p>
								</article>
							</section>
						</li>
						<li class="out" style="background-image: url('../../assets/images/jj19.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Clean</h3>
							<section class="hidden-xs">
								<article>
									<p>For the single or couple
									</p>
								</article>
							</section>
						</li>
						<li style="background-image: url('../../assets/images/jj14.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Stylish</h3>
							<section class="hidden-xs">
								<article>
									<p>When people want it cosy but stylish</p>
								</article>
							</section>
						</li>
						<li style="background-image: url('../../assets/images/jj21.jpeg');">
							<div class="accordion-overlay"></div>
							<h3>Family</h3>
							<section class="hidden-xs">
								<article>
									<p>For the family dinner</p>
								</article>
							</section>
			            </li>
					</ul>
			</div>
			
			<!-- BEGIN NEW ROW AFTER ACCORDION -->

		</section>
	</div>

	<!-- NAVIGATION -->

	<!-- CHECKOUT -->

	<!-- MODAL -->

</div>
