<div class="container">
  <div class="contact-form-container">
    <div class="inner-wrapper">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACT US
        </h1>
      </div>
      <div class="social-bar">
        <ul>
          <li>
            <i class="fab fa-facebook-f"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      <h1>
        Let's Get Started
      </h1>
      <h2>
        Contact us to start your next project!
      </h2>
    </div>
    <div class="address">
      <i class="fa fa-map-marker"></i>
      <h3>
        6/32B, T havasimani Complex,<br>
        Thadagai Nagar Theni Main Road,<br>
        Nagamalaipudukottai,<br>
        Tamil Nadu 625019.
      </h3>
      <h3>

      </h3>
    </div>
    <div class="phone">
      <i class="fa fa-phone"></i>
      <h3>
        83444 28136
      </h3>
    </div>
    <div class="email">
      <i class="fa fa-envelope"></i>
      <h3>
        jjenterprises9101@gmail.com
      </h3>
    </div>
    <div class="contact-form">
      <form>
        <input placeholder="Name" type="text" /><input placeholder="Email" type="email" /><textarea placeholder="Tell us about your project..." rows="4"></textarea><button type="button">SEND </button>
      </form>
    </div>
  </div>
  </div>
  <!-- <!-- <!-- < class="row">
       <div class=" about-content animated fadeIn scrollable" > -->
        <!-- <h1 class="animated fadeIn one">Contact Us</h1>
           <div class="about-me" style="transform: translateY(0px) translateZ(0px); margin-top:20px">
             <div class="animated fadeIn two">
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
             <div class="Synopsis-highlightLine five" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
             <div class="animated fadeIn three">
                <p class="Synopsis-highlight">Cinnamon eu so, cultivar sweet crema java blue mountain iced cappuccino acerbic flavour. Con panna, dark coffee coffee crema cortado, carajillo sugar wings robust coffee. Spoon, iced organic, medium, acerbic dripper pumpkin spice robust black single origin. Qui americano coffee milk lungo crema dripper. Grinder plunger pot est percolator medium shop latte foam crema café au lait wings.</p>
              </div>
              <div class="Synopsis-highlightLine five" style=" transform: matrix(1, 0, 0, 1, 0, 0);"></div>
              <div class="animated fadeIn four">
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It has survived not only five centuries, but also the leap into electronic.</p>
              </div>
           </div> -->
      <!-- </div> -->
      <div class="about-panel-wrapper">
      <!-- <div class=" about-panel animated fadeIn">
        <div class="perspective-container">
          <div class="zero photo-about animated fadeIn" style="transform:translateY(0px) translateZ(0px)">
            <div class="hide-photo-filter animated fadeIn"></div>
            <div class="about-info">
              <h3 class="about-info-name animated fadeInUp up-one">ANUSUYA CODEPEN</h3>
              <div class="about-info-contact">
                <h4 class="animated fadeInUp up-two"> Front End Developer, Ocassional Seamstress, Dance Lover</h4>
                <p class="animated fadeInUp up-three">4456 New Avenue, New York City, NY</p>
                <a href="" class="animated fadeInUp up-four">anusuyacodepen@myemail.com</a>
              </div>
            </div>
          </div>
        </div>
     </div>
     </div>
  </div> -->

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.92632594941!2d78.0563484!3d9.9354902!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdcb083a7e4fb9d6!2sJJ%20enterprises%20building%20materials%20al%20aqua%20pump%20submersible%20pump%20sub%20motor%20Raj%20adaptor%20bore%20clamp%20water%20tank%20pride%20tap%20electrical%20goods%20plumbing%20goods%20fan%20dealer%20cpvc%20fittings!5e0!3m2!1sen!2sin!4v1618518362786!5m2!1sen!2sin" height="100%" width="100%"style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
</div>
