<ul>
  <li>
    <a href="#" class="facebook"><span>Facebook</span><i class="fa fa-facebook-f"></i></a>
  </li>
  <li>
    <a href="mailto: jjenterprises9101@gmail.com" class="email"><span>Email</span><i class="fa fa-envelope"></i></a>
  </li>
  <li>
    <a href="https://wa.link/8rwxiq" class="whatsapp"><span>Whatsapp</span><i class="fa fa-whatsapp"></i></a>
  </li>
  <li>
    <a href="tel:+91 8344428136" class="phone"><span>Phone</span><i class="fa fa-phone"></i></a>
  </li>
</ul>
<div>
  <!-- <h1>Floating social icon buttons</h1>
  <p>Icon credit to <a href="http://danielbruce.se/">Daniel Bruce</a> and <a href="http://weloveiconfonts.com/">We Love Icons</a></p>
</div> -->
