*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Poppins', 'Arial', sans-serif;
  color: #eee;
  background: #1a1a1f;
}
#gallery {
  margin: 0 auto;
  font-size: 1.6rem;
}
#gallery h1 {
  font-weight: normal;
}
#gallery b {
  font-weight: bold;
  color: #fff;
}

#gallery #images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#gallery #images .figure {
  position: relative;
  width: 33.33%;
  height: 38rem;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  background: rgb(0 35 90 / 71%);
}
#gallery #images .figure .image {
  position: relative;
  display: block;
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  user-select: none;
}
#gallery #images .figure .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#gallery #images .figure .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vw 4vw;
}
#gallery #images .figure .text {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  opacity: 1;
  transform: translateY(5vh);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
}
#gallery #images .figure hr {
  width: 50%;
  border: 0;
  border-bottom: 4px solid rgba(255,255,255,0.2);
}
#gallery #images .figure:hover .image {
  opacity: 0.6;
  transform: scale3d(1.2, 1.2, 1.2);
}
#gallery #images .figure:hover .text {
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (max-width: 48rem) {
  #gallery {
    padding: 0;
  }
  #gallery #images .figure {
    width: 46vw;
  }
}
@media only screen and (max-width: 32rem) {
  #gallery {
    padding: 0;
  }
  #gallery #images {
    flex-direction: column;
  }
  #gallery #images .figure {
    width: 100%;
    margin: 0.5vh 0;
  }
}
