<div id="gallery">
  <div id="images">
    <div class="figure"><img class="image" src="../../assets/images/jj23.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>PP Rope</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj24.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Bore Clamp</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj10.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Bore Cover</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj18.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Sub Adaptor</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj21.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>V4 Submersible</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj22.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>V6 Submersible</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj26.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Unique dol Starter</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj7.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Three Phase Panel</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj27.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Single Phase Motor</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj28.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Bore Pump</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj29.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Motot Coil</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj30.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Bore Pump</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj11.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>2Phase/3Phase Auto Panel</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj12.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Auto Starter</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj19.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title"><b>Controll Starter</b></h1>
          <!-- <p class="text">A little bit of interesting information about this fantastic image</p> -->
        </div>
      </div>
    </div>
  </div>
 
</div>
