<div id="gallery">
  <div id="images">
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=75"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=38"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=94"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=53"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=58"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=55"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=62"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=10"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="https://picsum.photos/1920/1080/?image=66"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
  </div>
</div>
