<div id="gallery">
  <div id="images">
    <div class="figure"><img class="image" src="../../assets/images/jj.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj1.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj2.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj3.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj1.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj5.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj6.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj7.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
    <div class="figure"><img class="image" src="../../assets/images/jj8.jpeg"/>
      <div class="caption">
        <div class="body">
          <hr/>
          <h1 class="title">Image <b>Title</b></h1>
          <p class="text">A little bit of interesting information about this fantastic image</p>
        </div>
      </div>
    </div>
  </div>
</div>
